## HW 1

In [20]:
import pandas as pd
import numpy as np

In [ ]:
# Q1
print("Pandas version: ", pd.__version__)

Pandas version:  2.3.2

In [ ]:
car_df = pd.read_csv('car_fuel_efficiency.csv')
car_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
# Q2
print("No of records: ", car_df.shape[0])
print("No of features: ", car_df.shape[1] - 1)

No of records:  9704
No of features:  10

In [6]:
# Q3
fuel_types = car_df['fuel_type'].nunique()
print("No of unique fuel types: ", fuel_types)

No of unique fuel types:  2

In [12]:
# Q4 
flag = car_df.isna().sum() != 0
print("Columns with missing values: ", car_df.columns[flag].tolist())

Columns with missing values:  ['num_cylinders', 'horsepower', 'acceleration', 'num_doors']

In [15]:
# Q5
asian_cars = car_df[car_df['origin'] == 'Asia']
max_eff = asian_cars['fuel_efficiency_mpg'].max()
print("Max fuel efficiency for Asian cars: ", max_eff)

Max fuel efficiency for Asian cars:  23.759122836520497

In [ ]:
# Q6
median_hp = car_df['horsepower'].median()
print("old median: ",median_hp)
mode_hp = car_df['horsepower'].mode()[0]
car_df['horsepower'] = car_df['horsepower'].fillna(mode_hp)
new_median_hp = car_df['horsepower'].median()
print("new median: ", new_median_hp)

old median:  149.0
new median:  152.0

/var/folders/1z/vhyq6sks55xg_17qsvswn8yc0000gn/T/ipykernel_97838/1208592153.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_df['horsepower'].fillna(mode_hp, inplace=True)

In [21]:
# Q7
X = asian_cars[['vehicle_weight', 'model_year']].iloc[:7].values
XTX = np.dot(X.T, X)
XTX_inv = np.linalg.inv(XTX)

In [23]:
X.shape, XTX.shape, XTX_inv.shape

((7, 2), (2, 2), (2, 2))

In [22]:
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
mul = np.dot(XTX_inv.T, X.T)
w = np.dot(mul, y)
print("Weights: ", w)
print("shape: ", w.shape)
print("sum of weights: ", w.sum())

Weights:  [0.01386421 0.5049067 ]
shape:  (2,)
sum of weights:  0.5187709081074006